VITE_SUPABASE_URL=https://mqhzrmladohpujiigazq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1xaHpybWxhZG9ocHVqaWlnYXpxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3NTA1NTYsImV4cCI6MjA4ODMyNjU1Nn0.CwMbX-cRYqZqNyuqgwGWZOfVzxj9QUy053KJf9MUuvA